<!DOCTYPE html>
<html>
<head>
<title></title>
</head>

<body>
<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
  </li>
  <% end %>
</ul>
<!-- <ul id='link_tag'>
  <% @link_tag.each do |link_tag| %>
  <li>
    <% @links.each do |link|%>
      <%if link_tag.link_id == link.id %>
      Title: <%=link.title %>
      URL: <%=link.url %>
      <%end%>
    <% end %>
    <% @tags.each do |tag|%>
      <%if link_tag.tag_id == tag.id %>
      Tag: <%=tag.tag_name %>
    <%end%>
    <% end %>
  </li>
  <% end %>
</ul> -->
</body>
</html>
